.margin-left-10px
{
    margin-left: 10px;
}

.margin-right-10px
{
    margin-right: 10px;
}

.padding-top-10px
{
    padding-top: 10px;
}

.padding-top-20px
{
    padding-top: 20px;
}

.btn-center
{
    width: 100px;
    text-align: center;
}

.center
{
    text-align: center;
}
